<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audit_acls_files_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_acls_folders_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_auditd_enabled</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_control_acls_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_control_group_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_control_mode_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_control_owner_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_failure_halt</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_files_group_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_files_mode_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_files_owner_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_aa_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_ad_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_ex_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_fd_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_fm_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_fm_failed_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_fr_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_fw_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_flags_lo_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_folder_group_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_folder_owner_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_folders_mode_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_record_reduction_report_generation</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_records_processing</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_retention_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>audit_settings_failure_notify</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>auth_pam_login_smartcard_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>auth_pam_su_smartcard_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>auth_pam_sudo_smartcard_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>auth_smartcard_allow</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>auth_smartcard_certificate_trust_enforce_moderate</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>auth_smartcard_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>auth_ssh_password_authentication_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_addressbook_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_appleid_system_settings_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_bookmarks_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_calendar_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_drive_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_freeform_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_game_center_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_keychain_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_mail_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_notes_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_photos_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_private_relay_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_reminders_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>icloud_sync_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_access_control_mobile_devices</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_account_modification_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_airdrop_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_appleid_prompt_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_auth_peripherals</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_authenticated_root_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_blank_bluray_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_blank_cd_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_blank_dvd_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_bluray_read_only_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_bonjour_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_burn_support_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_cd_read_only_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_certificate_authority_trust</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_config_data_install_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_config_profile_ui_install_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_disk_image_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_dvdram_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_erase_content_and_settings_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_filevault_autologin_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_firewall_default_deny_require</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_firewall_log_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_firmware_password_require</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_gatekeeper_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_gatekeeper_rearm</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_handoff_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_home_folders_secure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_httpd_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_icloud_storage_prompt_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_implement_cryptography</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_install_log_retention_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_ir_support_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_logical_access</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_malicious_code_prevention</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_managed_access_control_points</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_mdm_require</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_nfsd_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_nonlocal_maintenance</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_obscure_password</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_on_device_dictation_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_password_autofill_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_password_hint_remove</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_password_proximity_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_password_sharing_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_policy_banner_loginwindow_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_policy_banner_ssh_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_policy_banner_ssh_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_power_nap_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_prevent_priv_functions</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_prevent_unauthorized_disclosure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_privacy_setup_prompt_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_prohibit_remote_activation_collab_devices</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_rapid_security_response_allow</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_rapid_security_response_removal_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_recovery_lock_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_removable_media_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_root_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_screensaver_loginwindow_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_secure_enclave</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_separate_functionality</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_sip_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_siri_prompt_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_skip_screen_time_prompt_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_skip_unlock_with_watch_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_ssh_fips_compliant</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_ssh_server_alive_count_max_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_ssh_server_alive_interval_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_sshd_channel_timeout_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_sshd_client_alive_count_max_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_sshd_client_alive_interval_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_sshd_fips_compliant</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_sshd_login_grace_time_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_sshd_unused_connection_timeout_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_store_encrypted_passwords</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_tftpd_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_time_server_enabled</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_touchid_prompt_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_unique_identification</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_unlock_active_user_session_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_user_app_installation_prohibit</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>os_uucp_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_account_inactivity_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_account_lockout_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_account_lockout_timeout_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_alpha_numeric_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_custom_regex_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_force_password_change</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_history_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_max_lifetime_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_minimum_length_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_minimum_lifetime_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_simple_sequence_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>pwpolicy_special_character_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_airplay_receiver_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_apple_watch_unlock_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_automatic_login_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_automatic_logout_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_bluetooth_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_bluetooth_sharing_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_cd_dvd_sharing_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_content_caching_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_critical_update_install_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_diagnostics_reports_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_filevault_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_find_my_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_firewall_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_firewall_stealth_mode_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_gatekeeper_identified_developers_allowed</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_gatekeeper_override_disallow</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_guest_access_smb_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_guest_account_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_hot_corners_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_hot_corners_secure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_improve_siri_dictation_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_internet_accounts_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_internet_sharing_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_location_services_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_loginwindow_prompt_username_password_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_media_sharing_disabled</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_password_hints_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_personalized_advertising_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_printer_sharing_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_rae_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_remote_management_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_screen_sharing_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_screensaver_ask_for_password_delay_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_screensaver_password_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_screensaver_timeout_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_siri_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_smbd_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_ssh_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_ssh_enable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_system_wide_preferences_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_time_server_configure</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_time_server_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_token_removal_enforce</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_touchid_unlock_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_usb_restricted_mode</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_wifi_disable</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
	<key>system_settings_wifi_disable_when_connected_to_ethernet</key>
	<dict>
		<key>exempt</key>
		<false/>
	</dict>
</dict>
</plist>
