<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableFirewall</key>
	<true/>
	<key>EnableLogging</key>
	<true/>
	<key>EnableStealthMode</key>
	<true/>
	<key>LoggingOption</key>
	<string>detail</string>
</dict>
</plist>
